.footer-area{
    background-color: lightseagreen;
    width: 100%;
    margin-top: 2em;
}

.footer-text {
    font-size: 15px;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer-link {
    color: yellow;
}